*{
    background-color: #fffc00;
    /* min-height: 101vh; */
    
}
.navContainer{
    z-index: 0.2;
    position: fixed;
    display: flex;
    width: 100vw;
    margin-top: -10px;
    padding-top: 5px;
    padding-bottom: 10px;
}
div{
    /* background-color: yelllow; */
     margin-left: 10px;
     margin-top: 10px;
}
div .icon-waffle svg{
    padding: 7px;
    border-radius: 50%;
    fill: rgb(67, 67, 67);
    border: 1px solid rgb(68, 68, 68);
    cursor: pointer;
}
div .icon-waffle{
    border: none;
}

div .icon-waffle svg:hover,
div .icon-waffle svg path:hover{
    /* path{fill: black;} */
    fill: black;
    border: 1px solid black;
}
.SnapLogo{
    cursor: pointer;
    /* margin-top: 12px; */
    margin-left: 15px;
}
.navItems{
    cursor: pointer;
    
    margin-left: 25%;
    margin-top: 15px;
}
.navItems span{
    font-size: 16px;
    margin-left: 20px;
    font-weight: 500;
    font-family:  Helvetica;
}
.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size ;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000)
}

.link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%
}

.navButtons{
    margin-left: 15px;
}
.waffleClicked{
    z-index: 0;
    position: absolute;
    min-height: 100vh;
    background-color: #fff;
    width: 100vw;
}
.DownButton{
    cursor: pointer;
    border: none;
    background-color: #fff;
    padding: 12px 32px;
    border-radius: 64px;
    margin-right: 15px;
    transition: 0.5s ease-in-out;
}
.DownButton:hover{
    transform: translateY(-10px);
    /* box-shadow: #000 inset 10 10 11 10; */
    /* box-shadow: 5px 10px 0 5px rgba(46, 46, 46, 0.821) ; */
    /* box-shadow: 10px 5px 5px black; */
    box-shadow: 5px 6px 100px 1px rgba(0, 0, 0, 0.2);

}
.DownButton img,
.DownButton div,
.DownButton text{
    background-color: #fff;
}
.icon-down{
    /* color: ; */
    transform: rotateX('45deg');
    /* transform: rotate3d(90deg) !important; */

}

.icon-down::before{
    contain: "\e000";
    transform: rotate(90deg) !important;

}
.DownButton .phoneIcon{
    width: 24px;
    height: 24px;
    /* margin-top: 505px; */
    margin-right: 10px;
    margin-top: 20px;
    background-color: #fff;
}
.DownButton text{
    font-weight: 600;
    font-size: 16px;
    /* background-color: #fff; */
}

.LoginButton{
    
    cursor: pointer;
    border: none;
    background-color: #000;
    padding: 12px 32px;
    border-radius: 64px;
    margin-right: 15px;
    transition: 0.5s ease-in-out;
}

.lapIcon,
.LoginButton img{
    background-color: #000;
}
.LoginButton .text{
    background-color: #000;
    /* font: white; */
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}
.LoginButton:hover{
    transform: translateY(-10px);
    /* box-shadow: #000 inset 10 10 11 10; */
    /* box-shadow: 5px 10px 0 5px rgba(46, 46, 46, 0.821) ; */
    /* box-shadow: 10px 5px 5px black; */
    box-shadow: 5px 6px 100px 1px rgba(0, 0, 0, 0.2);

}
.dropdown{
    position: absolute;
    display: block;
    top: 80%;
    left: 55.5%;
    background-color: #fff;
    /* padding: 5px 10px; */
    border-radius: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
.dropdown div{
    background-color: #fff;
    padding:0 5px;
    padding-right: 50px;
    padding-left: 20px;
    border-radius: 2px;
    cursor: pointer;

}
.dropdown div:hover{
    background-color: rgb(218, 218, 218);
}
.act{
    display: none;
}

.waffle-click{

    position: absolute;
    top: 0%;
    left: 0%;
    margin-top: -10px;
    padding-bottom: 10px;
    margin-left: -50px;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 1;
}

.cross-icon{
    position: absolute;
    /* border: rgb(65, 65, 65) solid 1px; */
    /* padding: 5px 0; */
    /* padding:  10px; */
    /* margin-top: 6px; */
    /* border-radius: 50%; */
    cursor: pointer;
    color: rgb(69, 69, 69);
    left: 3.5%;
    top: 5%;
    /* margin-left: 55px; */
    background-color: transparent;
}
.cross-icon:hover{
    color: #000;
    /* border: #000 1px solid; */
}
.portionLeft{
    /* display: ; */
    width: 30vw;
    height: 100vh;
    padding-top: 500px;
    margin-left: 100px;
    background-color: #fff;
}
.portionLeft div{
    border-right: 5px solid black;
    background-color: #fff;
    margin: 0px;
    width: 30vw;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.portionLeft h1{
    font-size: 26px;
    cursor: pointer;
    margin-left: 20px;
    padding-left: min(8vw, 112px);
    background-color: #fff;
    width: fit-content;

}
.portionLeft img{
    position: absolute;
    top: 10%;
    left: 40%;
    width: calc(55%);
}

.portionLeft ol,
.portionLeft li{
    margin-left: 55px;
    list-style-type: none;
    font-size: 18px;
    background-color: transparent;
}
.portionLeft li:hover{
    cursor: pointer;
    border-bottom: 2px solid black;
    width: fit-content;
}
.portionLeft li{
    width: max-content;
    padding-bottom: 5px;
}
.portionLeft h1:nth-child(1){
    margin-top: 80px;
    margin-left: 10px;
    border-left: 10px solid black;

}

.portionLeft h1:hover{
    margin-left: 10px;
    border-left: black solid 10px;
}

.none{
    display: none;
}
@media only screen and (max-width:600px) {
    body{
        overflow-x: hidden;
    }
    .line-icon{
        margin-left: -10px;
        display: block;
        width: 15px;
    }
    .waffle{
        display: none;
    }
    .SnapLogo{
        margin-left: 30px;
        align-items: center;
    }
    .navContainer .navItems .link{
        display: none;
    }
    .navContainer .navItems .navButtons{
        display: block;
        background-color: transparent;

    } 
    .navContainer .navButtons .DownButton,
    .navContainer .navButtons .DownButton text,
    .navContainer .navButtons .DownButton .phoneIcon,
    .navContainer .navButtons .DownButton .phoneIcon img{
        /* display: flex; */
        background-color: transparent;
    }
    .navContainer .navButtons .DownButton text{
        font-size: 12px;
        margin-left: -10px;
        font-weight: 200;
    }
    .navContainer .navButtons .DownButton .phoneIcon{
        display: none;
    }
    .navContainer .navButtons .LoginButton,
    .navContainer .navButtons .LoginButton .text,
    .navContainer .navButtons .LoginButton .lapIcon,
    .navContainer .navButtons .LoginButton .lapIcon img{
        background-color: transparent;
        color: #000;
    }
    .navContainer .navButtons .LoginButton .lapIcon img{
        display: none;
    }
    .navContainer .navButtons .LoginButton text{
        font-size: 12px;
        font-weight: 200;
        margin-left: -50px;
    }
    .navContainer .navItems{
        display: flex;
        margin: 5px;

    }
}